# Build and Release Folders
bin-debug/144259966
bin-release/2258856
[Oo]bj/11425762
[Bb]in/11198876

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
